<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <main class="homepage_main">
        <div class="homepage_left">
        </div>
        <div class="homepage_right">
            <div class="home_box">
                <h1>Welcome to our Chat !</h1>
                <button><a href="register">C'est parti !</a></button>
            </div>            
            <p class="msg">Déjà un compte ? <a href="login">Connectez vous !</a></p>
        </div>   
    </main>
</body>
</html>