<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">
<!-- 
    <script defer src="../app.js"></script>
    <script src="../controllers/userController.ts"></script> -->
    
    <title>Document</title>
</head>
<body>
    <main>
        <h1 class="login_title">Connexion</h1>
        <form class="login_form" action="/login" method="post">
                <div class="form-row">
                    <label for="email">E-mail</label>
                    <input type="text" name="email" id="email" placeholder="Email">
                </div>
                <div class="form-row">
                    <label for="password">Mot de passe</label>
                    <input type="password" name="password" id="password" placeholder="********">
                </div>
                <div class="login_form-button">
                    <button id="submit" type="submit">Se connecter</button>
                </div>
            <p class="msg"><a href="http://">Mot de passe oublié ?</a></p>
        </form>
    </main>
</body>
</html>