<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">

    <title>Document</title>
</head>
<body>
    <header class="header">
        <h1 class="channels_title"><a href="channels">Chat IRC</a></h1>
        <nav class="nav">
            <ul class="nav_list">
                <li><a href="profil">Profil</a></li>
                <li><a href="channels">Groupes</a></li>
                <li><a href="private_chat">Chat</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 class="private_chat-title">Discussion avec XXXX : </h1>
        <div class="chat_area">
            <ul id="messages">
            <!-- les msg apparaitront ici -->
            </ul>
        </div>        
        <form class="chat_form" action="">
            <input type="text" autocomplete="off" placeholder="Tape ton message...">
            <button type="submit">Envoyer</button>
        </form>
    </main>
</body>
</html>