<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/stylesheets/style.css">

    <title>Document</title>
</head>
<body>
    <header class="header">
        <h1 class="channels_title"><a href="channels">Chat IRC</a></h1>
        <nav class="nav">
            <ul class="nav_list">
                <li><a href="profil">Profil</a></li>
                <li><a href="channels">Groupes</a></li>
                <li><a href="private_chat">Chat</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <div class="profil_picture">
        </div>
        <div class="profil_info">
            <h1>Bienvenue Pseudo</h1>
        </div> 
        <form class="form_profil">
            <div class="form_profil-row">
                <label for="name">Pseudo</label>
                <input type="name" name="name" id="name">
            </div>
            <div class="form_profil-row">
                <label for="email">Email</label>
                <input type="email" name="email" id="email">
            </div>
            <div class="form_profil-row">
                <label for="password">Mot de passe</label>
                <input type="password" name="password" id="password">
            </div>
            <button class="edit-btn">Modifier</button>
            <button class="edit-btn">Supprimer</button>
        </form>
    </main>
</body>
</html>